{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<!-- Display heading for login -->
<h2>Log In</h2>

<!-- Form for user login -->
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- Submit button for logging in -->
    <button class="btn btn-success ml-2" type="submit">Log In</button>
</form>

<!-- Link to password reset page -->
 <br>
<p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
{% endblock content %}
