{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
<!-- Display heading for setting a new password -->
<h1>Set a new password!</h1>

<!-- Form for entering a new password -->
<form method="POST">
  {% csrf_token %}
  
  <!-- Render the form using crispy_forms -->
  {{ form|crispy }}

  <!-- Submit button for changing the password -->
  <input class="btn btn-success" type="submit" value="Change my password">
</form>
{% endblock content %}
