{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<h1 style="font-size: 28px; color: #545454;">Forgot Your Password?</h1>
<p style="font-size: 14px; color: #545454;">Enter your email address below, and we'll email instructions for setting a new one.</p>

<form method="POST">
  <!-- CSRF token for security -->
  {% csrf_token %}
  
  <!-- Render the form using crispy forms for enhanced styling -->
  {{ form|crispy }}
  
  <!-- Submit button to send password reset instructions -->
  <input class="btn send-btn" type="submit" value="Send me instructions!" style="background-color: #a192bf; color: #ffffff; border-color: #a192bf;">
</form>

<style>
  /* Style for the button hover state */
  .send-btn:hover {
    background-color: #664c89 !important;
    border-color: #664c89 !important;
  }

  /* Style for the input fields */
  input[type="email"] {
    font-size: 14px;
    color: #545454;
    border: 1px solid #ced4da;
  }

  /* Style for the input fields when focused */
  input[type="email"]:focus {
    border-color: #a192bf;
    box-shadow: none;
  }
</style>
{% endblock content %}
