{# Extend the base template #}
{% extends "base.html" %}

{# Set the title block for the articles page #}
{% block title %}Articles{% endblock title %}

{% block content %}
{# Loop through each article in the article_list #}
{% for article in article_list %}
<div class="card mb-3">
  <div class="card-header">
    {# Display the article title as a link to the article's detail page #}
    <span class="fw-bold">
      <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </span> &middot;
    {# Display the article's author and publication date #}
    <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
  </div>
  <div class="card-body">
    {# Display the article description #}
    <p>{{ article.description }}</p>

    {# Display the article image thumbnail if it exists #}
    {% if article.image %}
      <div class="mb-3">
        <img src="{{ article.image.url }}" alt="Thumbnail" class="img-thumbnail" style="max-width: 100px; height: auto;">
      </div>
    {% endif %}
  </div>
  <div class="card-footer">
    {# Loop through each comment for the article #}
    {% for comment in article.comment_set.all %}
    <p>
      <span class="fw-bold">{{ comment.author }} &middot;</span>
      {{ comment.text }}
    </p>
    {% empty %}
    {# Message when there are no comments #}
    <p>No comments yet.</p>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock content %}
