{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ticket Details{% endblock title %}

{% block content %}
<div class="article-entry">
  <div class="d-flex justify-content-between align-items-center">
    {# Display the article title, author, and date #}
    <h2 class="mb-0">{{ object.title }}</h2>
    
    {# Container for Edit and Delete buttons #}
    <div>
      {# Button to edit the article #}
      <a href="{% url 'article_edit' object.pk %}" class="btn mt-5 btn-outline-secondary">Edit</a>
      {# Conditional rendering of the delete button for admin users #}
      {% if user.is_authenticated and user.is_admin %}
        <a href="{% url 'article_delete' object.pk %}" class="btn mt-5 btn-outline-danger ms-2">Delete</a>
      {% endif %}
    </div>
  </div>
  
  <p>by {{ object.author }} | {{ object.date }}</p>
  <p>{{ object.description }}</p>
  
  {# Display the article image thumbnail if it exists #}
  {% if object.image %}
    <div class="mb-3">
      <img src="{{ object.image.url }}" alt="Thumbnail" style="max-width: 700px; height: auto;">
    </div>
  {% endif %}
</div>

<hr>

<!-- Display comments related to the article -->
<h4>Comments</h4>
{% for comment in object.comment_set.all %}
  <p>{{ comment.author }} &middot; {{ comment.text }}</p>
{% empty %}
  <!-- Message when there are no comments -->
  <p>No comments yet.</p>
{% endfor %}

{# Form to add a new comment #}
<hr>
<form action="" method="post">
  {# CSRF token for security #}
  {% csrf_token %}
  <div class="d-flex align-items-center mb-4">
    {# Render the comment field manually with placeholder text #}
    <input type="text" name="text" class="form-control me-2 mt-3" placeholder="Add your comment" value="{{ form.text.value|default_if_none:'' }}">
    
    {# Submit button to save the new comment #}
    <button class="btn btn-success mt-3" type="submit">Save</button>
  </div>
</form>

<!-- Link to return to the list of all articles -->
<div class="mt-4">
  <a href="{% url 'article_list' %}" class="btn btn-primary mb-5">Back to All Tickets</a>
</div>
{% endblock content %}
