{% extends "base.html" %}
{% block title %}User List{% endblock %}

{% block content %}
<h2 class="my-4 text-center">User List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th class="text-center">Admin</th>
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
          <td>
          <div class="d-flex align-items-center">
            <div class="circle-initials" style="background-color: #a192bf; color: #ffffff;">
              {{ user.username }}
            </div>
            <div class="ms-3">
              <div>{{ user.username }}</div>
            </div>
          </div>
        </td>
            <td>{{ user.email }}</td>
            <td style="text-align: center;">
                <input type="checkbox" class="admin-checkbox" data-username="{{ user.username }}" data-user-id="{{ user.id }}" {% if user.is_admin %}checked{% endif %}>
            </td>
            <td>
                <a href="{% url 'user_delete' user.id %}" class="btn  status-badge" style="color: #ffffff;"  onclick="return confirm('Are you sure you want to delete {{ user.username }}?');">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal for confirmation of admin rights -->
<div class="modal fade" id="adminConfirmModal" tabindex="-1" aria-labelledby="adminConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminConfirmModalLabel">Confirm Admin Rights</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to <span id="adminAction"></span> <span id="username"></span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="confirmAdminButton">Confirm</button>
      </div>
    </div>
  </div>
</div>

<style>
  .table td {
    font-size: 14px;
    color: #545454;
    text-align: left;
    padding: 0.5rem;
    border-top: none; /* Remove the top border */
    border-bottom: 1px solid #dee2e6; /* Add only horizontal borders */
  }

  .circle-initials {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
  }
  .status-badge {
    background-color: #d9c690 !important;
    border-color: #d9c690 !important;
    color: #ffffff;
    padding: 0.4rem;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('.admin-checkbox');
    const modal = new bootstrap.Modal(document.getElementById('adminConfirmModal'));
    let selectedUserId = null;
    let selectedUsername = null;
    let isAdminAction = true;

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            selectedUserId = this.dataset.userId;
            selectedUsername = this.dataset.username;
            isAdminAction = this.checked;
            document.getElementById('username').textContent = selectedUsername;
            document.getElementById('adminAction').textContent = isAdminAction ? 'make' : 'remove admin rights for';
            modal.show();
        });
    });

    document.getElementById('confirmAdminButton').addEventListener('click', function() {
        modal.hide();
        fetch(`/accounts/users/${selectedUserId}/${isAdminAction ? 'make_admin' : 'remove_admin'}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (response.ok) {
                if (!isAdminAction && selectedUserId === '{{ user.id }}') {
                    // If the current user removed their own admin rights, log them out
                    fetch("{% url 'logout' %}", {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    }).then(() => {
                        window.location.href = "{% url 'login' %}";
                    });
                } else {
                    location.reload();
                }
            } else {
                // Handle error
                alert('Failed to update admin rights');
                document.querySelector(`.admin-checkbox[data-user-id="${selectedUserId}"]`).checked = !isAdminAction;
            }
        }).catch(() => {
            // Handle error
            alert('Failed to update admin rights');
            document.querySelector(`.admin-checkbox[data-user-id="${selectedUserId}"]`).checked = !isAdminAction;
        });
    });
});
</script>


{% endblock %}
